<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AutomationProject">
	
	<listeners>
		<listener class-name="com.automationproject.utilities.Reporting"/>
	</listeners>
	
	<!--<test name = "LoginTests">
		<parameter name = "browser" value = "chrome"/>
		<classes>
			<class name = "com.automationproject.testCases.Tc_LoginTest_01"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_02"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_03"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_04"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_05"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_07"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_08"/>
		</classes>
	</test>
	
	
	<test name = "RegistrationTests">
		<parameter name = "browser" value = "chrome"/>
		<classes>
			<class name = "com.automationproject.testCases.Tc_Register_09"/>
			<class name = "com.automationproject.testCases.Tc_RegisterInvalidEmail_10"/>
			<class name = "com.automationproject.testCases.Tc_RegisterWithEmptyEmail_11"/>
			<class name = "com.automationproject.testCases.Tc_RegisterWithEmptyPassword_12"/>
			<class name = "com.automationproject.testCases.Tc_RegisterWithEmptyData_13"/>
			
		</classes>
	</test>-->
	
	<test name = "Shop">
		<parameter name = "browser" value = "chrome"/>
		<classes>
			<!--<class name = "com.automationproject.testCases.Tc_FilterByPrice_14"/>
			<class name = "com.automationproject.testCases.Tc_FilterByCategory_15"/>
			<class name = "com.automationproject.testCases.Tc_SortByLowToHigh_16"/>
			<class name = "com.automationproject.testCases.Tc_SortByHighToLow_17"/>-->
			<class name = "com.automationproject.testCases.Tc_ReadButton_18"/>
		</classes>
	</test>

	
</suite>