<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AutomationProject">
	
	<listeners>
		<listener class-name="com.automationproject.utilities.Reporting"/>
	</listeners>
	
	<test name = "LoginTests">
		<parameter name = "browser" value = "firefox"/>
		<classes>
			<class name = "com.automationproject.testCases.Tc_LoginTest_01"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_02"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_03"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_04"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_05"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_07"/>
			<class name = "com.automationproject.testCases.Tc_LoginTest_08"/>
		</classes>
	</test>
	

	
</suite>